{% include "header.html" %}

<div class="container">
<div class="px-4 pt-2 my-5 rounded text-center border-bottom bg-body-secondary">
    <h1 class="display-4 bold fst-italic">About Café WiFi</h1>
    <div class="col-lg-6 mx-auto">

    </div>
    <p class="lead mb-4">

    <div class="overflow-hidden" style="max-height: 130vh;">
      <div class="container px-5">
        <img src="static/assets/img/marvin-meyer-SYTO3xs06fU-unsplash.jpg" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy">
      <p class="lead mb-4">
At Coffee & Wi-Fi, we believe that the right environment can make all the difference in how you work. Cafes aren't just places to grab a quick coffee—they're vibrant spaces where creativity flows and connections are made.

Our mission is to help you find the perfect cafe, no matter where you are. Whether you're a freelancer, a remote worker, or someone who simply enjoys working from a cozy spot with a good cup of coffee, we've got you covered.

We carefully curate a list of cafes that offer the best atmosphere, reliable Wi-Fi, and, of course, great coffee. Each spot is handpicked based on its suitability for working, so you can focus on what matters most—your work.

Join our community of digital nomads, freelancers, and cafe enthusiasts who are always on the lookout for the next great spot to work from. We’re here to make sure you find the right place to get things done, one cafe at a time.</p>
      </div>

    </div>
  </div>
</div>





{% include "footer.html" %}
