{% include "header.html" %}

<div class="container">
<div class="px-4 pt-2 my-5 rounded text-center border-bottom bg-body-secondary">
    <h1 class="display-4 bold fst-italic"> Café WiFi By Cities</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Chose Your Location</p>

    </div>
    <div class="overflow-hidden" style="max-height: 30vh;">
      <div class="container px-5">
        <img src="static/assets/img/no-revisions-d1ngW7SNehM-unsplash.jpg" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy">
      </div>
    </div>
  </div>
</div>
<div class="container">
<div class="row mb-2">

  {% for cafe in all_cafes %}

    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
            <a href="{{ url_for('search', loc=cafe[0]) }}">
          <h1 class="d-inline-block mb-2 text-dark-emphasis">{{ cafe[0] }}</h1>
            </a>

        </div>

      </div>
    </div>
    {% endfor %}



  </div>
 </div>

{% include "footer.html" %}
